@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}


body {
    width: 100vw;
    min-height: 100vh;
    background-color: #FFF;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px 24px 0 24px;
}

.logo {
    padding-right: 80px;
    height: 24px;
}


.signin {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.09px;
    display: flex;
    justify-content: space-between;
}


.secondheader {
    width: 100%;
    padding: 0 24px;
}

main {
    width: 100%;
}

.illustration-1 {
    width: 100%;
    margin-top: 98px;
}

.secure {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #07043B;
    text-align: center;
}

.stores {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #07043B;
    text-align: center;
    margin: 24px 0 32px;
}

.email {
    width: 100%;
    height: 40px;
}

button {
    width: 100%;
    padding: 12px 0;
    background: #2F65F8;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    border-style: hidden;
    margin: 12px 0 90px;
}

.getstarted {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.44px;
    color: #FFF;
}

.krisha {
    width: 100%;
    margin-top: 90px;
}

section {
    width: 100%;
    background-color: #F8F8FE;
    margin-top: -3px;
    padding: 0 24px 83px;
}

.sectiondv {
    padding: 0 24px;
}

.illustration-2 {
    width: 100%;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #07043B;
    margin-top: 87px;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #615F7E;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 24px;
}

.span2 {
    margin-top: 16px;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 36px 0 40px;
    padding: 0 8px 6px 0;
}

.fylo {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #3DA08F;
    border-bottom: 1px solid #3DA08F;
    overflow-x: hidden;
}

.kyle {
    padding: 10px 12.74px 18.62px 26px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
}

.coutes {
    margin-bottom: 7px;
}

.info {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #07043B;
}

.personalinfo {
    margin-top: 12px;
    display: flex;
}

.avatar {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.45px;
    color: #07043B;
}

.founder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: #07043B;
}

.mainfooter {
    width: 100%;
    padding: 54px 47px 71px 48px;
    background-color: #575988;
}

.acsess {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.signup {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 16px 0 24px;
}

.email2 {
    width: 100%;
    height: 32px;
}

button {
    padding: 11px 0 9px;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    border-radius: 1.47059px;
    border-style: hidden;
    margin: 8px 0 0 0;
}

.getstarted {
    font-weight: 700;
    font-size: 10px;
    line-height: 11.74px;
    color: #FFF;
}

footer {
    width: 100%;
    padding: 65px 114px 42px 39px;
    background-color: #07043B;
}

.logo2 {
    width: 105px;
    height: 30px;
    color: #FFF;
    margin-bottom: 16px;
}

.phonee{
    margin-right: 16px;
}

.division{
    margin-top: 32px;
}


ul{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

margin-top: 16px;
color: #FFFFFF;



}
.flexbox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0 0 50px;
}

.droebit path{
    fill: #FFF;

}